{% extends 'base_layout.html' %}
{% block content %}
{% load static %}
<script src="{% static 'movies/rating.js'%}" crossorigin="anonymous"></script>
<style>
.checked {
    color: orange;
}
</style>

<p id="user-id">456<p>
<h2>Star Rating</h2>
<span class="fa fa-star" id="star1-25" onclick="add_star(this,1,25)"></span>
<span class="fa fa-star" id="star2-25" onclick="add_star(this,2,25)"></span>
<span class="fa fa-star" id="star3-25" onclick="add_star(this,3,25)"></span>
<span class="fa fa-star" id="star4-25" onclick="add_star(this,4,25)"></span>
<span class="fa fa-star" id="star5-25" onclick="add_star(this,5,25)"></span>
<span class="fa fa-star" id="star6-25" onclick="add_star(this,6,25)"></span>
<span class="fa fa-close" id="notseen-25" style="float: right" onclick="add_notseen(this,25)"></span>
<br>
<form action="." method="post">
  {% csrf_token %}
  <button name="button-name" value="fav_HTML" class="btn btn-primary btn-lg active pull-right" role="button" onclick="print_rate()">Rate</button>
  <button name="button-name" value="fav_HTML" class="btn btn-primary btn-lg active pull-right" role="button" onclick="save_ratings()">Rate and POST</button>
</form>
{% endblock %}
